* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	font-family: "Open Sans", sans-serif;
	color: #333;
	line-height: 1.6;

	color: black;
}

ul {
	list-style: none;
}

a {
	color: #333;
	text-decoration: none;
}

#myBtn {
	width: fit-content;
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	background-color: rgb(255, 87, 51);
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 4px;
}

#myBtn:hover {
	background-color: black;

}



.container {
	max-width: 1300px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.row {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}

body {
	font-family: 'Poppins', sans-serif;
}

.products {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
}

.clothes {
	flex-basis: 255;
	padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.clothes img {
	width: 100%;
}

.title {
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
}

.title::after {
	content: '';
	background: #ff523b;
	width: 80px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);

}

h4 {
	color: black;
	font-weight: normal;
}

.col-4 p {
	font-size: 14px;
}

.rating .fa {
	color: #ff523b;
}

.brands {
	margin: 100px auto;
}

.col-5 {
	width: 160px;
}

.col-5 img {
	width: 100%;
	cursor: pointer;
	filter: grayscale(100%);
}


.row-2 {
	justify-content: space-between;
	margin: 100px;
}

select {
	border: 1px solid #ff523b;
	padding: 5px;
}

select.focus {

	outline: none;
}

.page-btn {
	margin: 0 auto 80px;
}

.page-btn span {
	display: inline-block;
	border: 1px solid white;
	margin-left: 10px;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	cursor: pointer;
}

.page-btn span:hover {
	background: #ff523b;
	color: #fff;
}

.addToCart {
	display: inline-block;
	border: 1px solid black;
	padding: 8px 30px;
	margin: 3px 0;
	border-radius: 30px;

}

.addToCart:hover {
	background: black;
	color: white;

}

@media only screen and (max-width: 600px) {
	.products {
		max-width: 540px;
	}

	.row {
		text-align: center;
	}

	.clothes {
		flex-basis: 100%
	}

	.row-2 h2 {
		font-size: medium;

	}

	.addToCart {
		padding: 4px 15px;
	}


}