body{
    font-family: 'Raleway', sans-serif;
}

/*Grid of 2 columns used*/
.grid-container{
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 120px auto auto auto;
    grid-template-areas: 'title title' 
    'one one' 
    'two two'
    'three three'
    'four four' 
    'int-five int-five'  
    'int-six int-six'   
    ;
}

/*Title of the page*/
.title{
    grid-area: title;
    text-align: center;
  
    font-size: 1rem;
}

/*first instructions*/
.one{
    grid-area: one;
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'intOne int-one-image';
}
.int-one{
    grid-area: intOne;
    width: 100%;
    max-width: 100%;
   
    ;
}
.int-one-image{
    grid-area: int-one-image;
    width: 100%;
    max-width: 100%;
    margin: auto;

}

/*Second instructions*/
.two{
    grid-area: two;
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'int-two int-two-image';
}
.int-two{
    grid-area: int-two;
    
}
.int-two-image{
    grid-area: int-two-image;
    
}

/*Third instructions*/
.three{
    grid-area: three;
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'int-three int-three-image';
}
.int-three{
    grid-area: int-three;
    
}
.int-three-image{
    grid-area: int-three-image;
}

/*Fourth instructions*/
.four{
    grid-area: four;
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 'int-four int-four-image';
}
.int-four{
    grid-area: int-four;
    
}
.int-four-image{
    grid-area: int-four-image;
   
}

/*Fifth instructions*/
.int-five{
    grid-area: int-five;
    
    
}
/*sixth instructions*/
.int-six{
    grid-area: int-six;
    
    
}

/* Centering all the images using a common class*/
.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


p{
    color: red;
    text-align: center;
}


/*-----------------------------------------------Mobile responsive---------------------------------------------------------------*/
@media only screen and (max-width: 600px) {

    
.grid-container{
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr ;
    grid-template-areas: 'title' 
    'one ' 
    'two '
    'three '
    'four ' 
    'int-five'  
    'int-six '   
    ;
}
.title{
    font-size: 0.8rem;
    max-width: 100%;
}

.one{
    grid-area: one;
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 'intOne'
    ' int-one-image';
}
.int-one-image{
    max-width: 100%;
}

.two{
    grid-area: two;
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 'int-two '
    'int-two-image';
}
.three{
    grid-area: three;
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 'int-three'
    ' int-three-image';
}
.four{
    grid-area: four;
    display: grid;
    width: 100%;
    max-width: 100%;
    grid-template-columns: 1fr;
    grid-template-areas: 'int-four '
    'int-four-image';
}
img{
    margin: auto;
    width: 100%;
    max-width: 100%;
}

h3{
    text-align: center;

}

ol{
    padding: 5%;
  
}
}
